<ion-content [fullscreen]="true" class="vertical-center">

  <ion-card class="background">
      <ion-img src="https://img.freepik.com/vector-gratis/logotipo-restaurante_23-2148558726.jpg?size=626&ext=jpg"></ion-img>
      <ion-card-header>


          <ion-card-title style="text-align: center;">Ingrese sus Datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-input placeholder="Email" [(ngModel)]="user.email" style="text-align: center;"></ion-input>
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="user.password" style="text-align: center;"></ion-input>
          <ion-button shape="round" color="primary" (click)="login()" expand="full">Ingresar</ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>
