<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="return()" style="margin-left: 14px;"></ion-icon>

    <ion-card-title style="text-align: center;">Inventario</ion-card-title>
  
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Pepperoni  (378) Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Pepperoni"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Tomates  (150) Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Tomates"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Lechugas  (178)Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Lechugas"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Papas  (800) Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Papas"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Refrescos  (450) Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Refrescos"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Arroz  (180) Unidades</ion-label>
  <ion-checkbox [(ngModel)]="Arroz"></ion-checkbox>
</ion-item>
<div class="list">
  <label class="item item-input">
    <span class="input-label">Anotaciones：</span>
    <input type="text">
  </label>



<ion-content>

</ion-content>

